
@media screen and (max-width: 900px){

  .card_right{
    padding-left: 3%;
  }

  .card_right > img{
    width: 25vw;          /* altera o tamanho da imagem */
    padding-right: 0px;
    border-radius: 1cqi
  }

  .card_right > img:hover{
    width: 33vw;
  }

  .card_left > span{
    margin-top: 0px;
    font-size: 43%;
  }

  .card_left > a{          /* À partir desta classe, acessa h1 */
    margin-top: 3%;   /* Espaçamento entre o título e o conteúdo seguinte*/
    font-size: 75%;    /* Altera o tamanho da fonte*/
  }

  .card{
    border-radius: 1cqi;
  }

  .card_left > p{
    margin-top: 2%;
    font-size: 1.5vw;
  }
}


