
@media screen and (max-width: 900px){
  .agir > a > img{
    position: absolute;
    margin-top: 31px;
    left: 14%;
    width: 48px;
  }

  .card_left > ul > a > img{
    position: absolute;
    width: 70px;
    margin-top: 6.5px;
  }

  .card_left > h1{          /* À partir desta classe, acessa h1 */
    margin-top:26%; /* Espaçamento entre o título e o conteúdo seguinte*/
    font-size: 20px;    /* Altera o tamanho da fonte*/   /* remove o aspecto feio de link*/
    padding-left: 133px;
  }

  .card_left > p {
    padding-left: 136px;
    font-size: 11px;
  }

  .card_right > img{
    width: 100px;          /* altera o tamanho da imagem */
    padding-right: 12px;
    margin-right: 10px;
    border-radius:25cqi;
    padding-top: 64px;
  }

}

