<div class="container"> <!-- As marcações Html, de fato, ocorrem dentro das divs-->
  <div class="card">
      <div class="card_left">
          <!--O projeto é separado em 'dois lados'-- marcados pelas divs nomeadas em esquerda e direita-->
          <!--<a>Darth Vader Contrata tags</h1>-->
          <ul>
              <a href="https://ovianaanthony.github.io/My-Blog/My-Blog">
                  <img src="https://i.postimg.cc/W3rV2dPm/house.png" alt="">
              </a>
              <div class="agir">
                  <a href="https://www.linkedin.com/in/viana-anthony/">
                      <img src="https://i.postimg.cc/Mpy1jDbg/lkd.png" alt="">
                  </a>
              </div>
          </ul>
          <!--Os headings são enumerados e determinam o título do projeto em questão-->
          <h1>Anthony Viana</h1><!--Para adicionar o link-->
          <p>Certificates | Courses</p>
      </div>
      <div class="card_right">
          <img src="https://i.postimg.cc/yYChjx6M/me.png" alt="">
          <!--Este recurso importa uma imagem passando o seu local e de sua pasta-->
      </div>
  </div>
</div>
